/* shared style */
.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* main style */
header {
  padding-top: 50px;
  background-color: #fff8f3;
}
nav {
  width: 71%;
  max-width: 1140px;
  /* border: 1px solid red; */
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo h2 {
  font-size: 45px;
}
.color-orange {
  color: #fd6e0a;
  font-weight: 900;
}
/*  */
.btn {
  background-color: #fd6e0a;
  border-radius: 5px;
  border: none;
  padding: 18px 35px;
  font-size: 20px;
  color: white;
  font-weight: bold;
}
/*  */
nav .menu {
  display: flex;
  gap: 51px;
  list-style: none;
  align-items: center;
}
nav .menu a {
  text-decoration: none;
  font-size: 20px;
  color: #474747;
}
